@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Roboto", sans-serif;
}

.col{
    color: #477553;
}
.bgc{
    background-color: #5a8c67;
    /* background-color: #477553; */
}
.bbb{
    padding: 5px 0;
}

.custom-table td {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }



  
